ID: {{.Id}}
Cookbooktype:  {{.CookbookType}}
Status: {{.Status}}
System: {{.System.Name}}  ID: {{.System.Id}}



{{- /* PARAMETERS */}}

  {{- $anyParams := false }}

  COOKBOOKPARAMETERS: {{ range $key, $dat := .CookbookParameters }}{{ if not $dat.Default }}
    {{- $anyParams = true }}
    {{ $key }}: {{vt "brightwhite"}}{{ $dat.Value}}    
  {{ end }}{{ end }}{{if not $anyParams}}(none){{ end -}}

