SYSTEMGROUP:
    ID: {{.ID}}
    NAME:  {{.Name}}
    STATUS: {{.Status}}
    SHARED: {{.Shared}}


    {{- /* SYSTEMS */}}

    {{- $anySystems := false }}

    SYSTEMS:  {{ range .Systems }}
        {{- $anySystems = true }}
        ID: {{.ID}}     
        NAME: {{.Name}} 
    {{ end }}{{if not $anySystems}}(none){{ end -}}

