ID: {{.ID}}
Cookbooktype:  {{.CookbookType}}
Status: {{.Status}}
System: {{.System.Name}}  SYSTEM_ID: {{.System.ID}}



{{- /* PARAMETERS */}}

  {{- $anyParams := false }}

  CUSTOM_COOKBOOKPARAMETERS: {{ range $key, $dat := .CookbookParameters.Map }}{{ if not $dat.Default }}
    {{- $anyParams = true }}
    {{ $key }}: {{vt "brightwhite"}}{{ $dat.Value}}    
  {{ end }}{{ end }}{{if not $anyParams}}(none){{ end -}}

